.userPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.userPageInput {
  font-size: large;
  width: 300px;
  padding: 4px;
  margin-bottom: 12px;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}
